body {
  padding: 1.6em !important;
  margin-top: 1.3em !important;
  min-height: 100vh;
}

.group {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 5px;
}
.result {
  background-color: var(--pico-color-pink-50);
  border-radius: 5px;
  padding: 2px;
  padding-left: 8px;
  margin: 5px;
}

.result p {
  font-size: 18px;
  font-weight: bold;
}

.result a {
  text-decoration: none;
  color: var(--pico-color-blue-600);
}

.result a:hover {
  text-decoration: underline;
  color: var(--pico-background-blue-850);
}

hgroup p {
  margin-top: 15px;
}

.singleResult {
  background-color: var(--pico-color-pink-50);
  border-radius: 5px;
  padding: 2px;
  padding-left: 8px;
  margin: 5px;
}

.singleResult p {
  font-size: 18px;
  font-weight: bold;
}

ul,
li {
  list-style: none !important;
}
